.title{
    display:flex;
    justify-content: space-between;
    align-items: center;

    h2{
        margin: 0 !important
    }
}
.title > button {
    max-width: 15%;
}
.options{
    display: flex;
    justify-content: right;
    align-items: center;
}
.options > button{
    max-width: 25%;
}